@function torem($px){
  @return $px / 40 * 1rem;
}

/*common E*/
#pop {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}
.xzctpop {
    width: 15.05rem;
    height: 21.225rem;
    background: url("../modal_build.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10.6125rem;
    margin-left: -7.525rem;
    font-size: 0.425rem;
    color: #099BAA;
}
.xzctpop .close {
    width: 1.2rem;
    height: 1.2rem;
    background: url("../btn_no.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -0.2rem;
    top:0.9rem;
}
/*control*/
.xzctpop ul:nth-child(1) {
    width: 11.75rem;
    height: 2.125rem;
    position:absolute;
    left: 2.125rem;
    top: 2.975rem;
}
.xzctpop ul:nth-child(2) {
    width: 11.75rem;
    height: 2.125rem;
    position:absolute;
    left: 2.125rem;
    top: 6.525rem;
}
.xzctpop ul:nth-child(3) {
    width: 11.75rem;
    height: 2.125rem;
    position:absolute;
    left: 2.125rem;
    top: 10.05rem;
}
.xzctpop ul:nth-child(4) {
    width: 11.75rem;
    height: 2.125rem;
    position:absolute;
    left: 2.125rem;
    top: 13.6rem;
}
.xzctpop ul:nth-child(5) {
    width: 11.75rem;
    height: 2.125rem;
    position:absolute;
    left: 2.125rem;
    top: 17.125rem;
}
.geted {
    background: url("../btn_yes.png") no-repeat;
    -webkit-background-size: 0.825rem 0.65rem;
    background-size: 0.825rem 0.65rem;
    background-position: center;
}

.xzctpop ul:nth-child(1) li:nth-child(1) {
    float: left;
    width: 1rem;
    height: 0.9rem;
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: -0.125rem;
    background-position-y: -2.15rem;
    position: absolute;
    top: calc(50% - 0.45rem);
}
._11 {
    background-position-x: -0.125rem !important;
    background-position-y: -0.575rem !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(1) li:nth-child(1) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1.5rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(1) li:nth-child(2) {
    float: left;
    width: 1.8rem;
    height: 0.875rem;
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: -1.65rem;
    background-position-y: -2.175rem;
    position: absolute;
    top:50%;
    margin-top: -0.4375rem;
    left: 1.45rem;
}
._12 {
    background-position-x: -1.65rem !important;
    background-position-y: -0.575rem !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(1) li:nth-child(2) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1.5rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(1) li:nth-child(3) {
    float: left;
    width: 1.8rem;
    height: 1.2rem;
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: -3.975rem;
    background-position-y: -1.85rem;
    position: absolute;
    top:50%;
    margin-top: -0.6rem;
    left: 3.85rem;
}
._13 {
    background-position-x: -3.975rem !important;
    background-position-y: -0.275rem !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(1) li:nth-child(3) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1.35638rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(1) li:nth-child(4) {
    float: left;
    width: 2.175rem;
    height: 1.225rem;
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: -6.3rem;
    background-position-y: -1.825rem;
    position: absolute;
    top:50%;
    margin-top: -0.6225rem;
    left: 6.29rem;
}
._14 {
    background-position-x: -6.3rem !important;
    background-position-y: -0.25rem !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(1) li:nth-child(4) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1.37rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(1) li:nth-child(5) {
    float: left;
    width: 2.4rem;
    height: 1.35rem;
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: -9rem;
    background-position-y: -1.7rem;
    position: absolute;
    top:50%;
    margin-top: -0.675rem;
    left: 9rem;
}
._15 {
    background-position-x: -9rem !important;
    background-position-y: -0.125rem !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(1) li:nth-child(5) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1.33rem;
    text-align: center;
    line-height: 0.85rem;
}

/*statue*/
.xzctpop ul:nth-child(2) li:nth-child(1) {
    width: 0.675rem;
    height: 1.775rem;
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: -0.275rem;
    background-position-y: -3.6rem;
    position: absolute;
    bottom: 0;
    color: #FF8B07;
    left: 0.75rem;
}
._21 {
    /*background-position-x: -0.125rem !important;
    background-position-y: -0.575rem !important;
    color: #FF8B07;*/
}
.xzctpop ul:nth-child(2) li:nth-child(1) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(2) li:nth-child(2) {
    width: 0.675rem;
    height: 1.75rem;
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: -7.375rem;
    background-position-y: -3.625rem;
    position: absolute;
    bottom: 0;
    left: 3.175rem;
}
._22 {
    background-position-x: -1.325rem !important;
    background-position-y: -3.625rem !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(2) li:nth-child(2) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(2) li:nth-child(3) {
    width: 0.75rem;
    height: 1.975rem;
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: -8.4rem;
    background-position-y: -3.4rem;
    position: absolute;
    bottom: 0;
    left: 5.525rem;
}
._23 {
    background-position-x: -2.325rem !important;
    background-position-y: -3.4rem !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(2) li:nth-child(3) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(2) li:nth-child(4) {
    width: 0.725rem;
    height: 1.975rem;
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: -9.575rem;
    background-position-y: -3.4rem;
    position: absolute;
    bottom: 0;
    left: 8.225rem;
}
._24 {
    background-position-x: -3.425rem !important;
    background-position-y: -3.4rem !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(2) li:nth-child(4) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(2) li:nth-child(5) {
    width: torem(46);
    height: torem(79);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-423);
    background-position-y: torem(-136);
    position: absolute;
    bottom: 0;
    left: torem(413);
}
._25 {
    background-position-x: torem(-178) !important;
    background-position-y: torem(-136) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(2) li:nth-child(5) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

/*tower*/
.xzctpop ul:nth-child(3) li:nth-child(1) {
    width: torem(70);
    height: torem(70);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-5);
    background-position-y: torem(-241);
    position: absolute;
    bottom: 0;
    color: #FF8B07;
    left: torem(5);
}
.xzctpop ul:nth-child(3) li:nth-child(1) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(3) li:nth-child(2) {
    width: torem(60);
    height: torem(70);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-93);
    background-position-y: torem(-334);
    position: absolute;
    bottom: 0;
    left: torem(94);
}
._32 {
    background-position-x: torem(-93) !important;
    background-position-y: torem(-241) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(3) li:nth-child(2) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(3) li:nth-child(3) {
    width: torem(60);
    height: torem(78);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-186);
    background-position-y: torem(-326);
    position: absolute;
    bottom: 0;
    left: torem(185);
}
._33 {
    background-position-x: torem(-186) !important;
    background-position-y: torem(-234) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(3) li:nth-child(3) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(3) li:nth-child(4) {
    width: torem(65);
    height: torem(84);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-284);
    background-position-y: torem(-320);
    position: absolute;
    bottom: 0;
    left: torem(283);
}
._34 {
    background-position-x: torem(-284) !important;
    background-position-y: torem(-227) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(3) li:nth-child(4) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(3) li:nth-child(5) {
    width: torem(72);
    height: torem(84);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-387);
    background-position-y: torem(-320);
    position: absolute;
    bottom: 0;
    left: torem(392);
}
._35 {
    background-position-x: torem(-387) !important;
    background-position-y: torem(-227) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(3) li:nth-child(5) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

/*angle*/
.xzctpop ul:nth-child(4) li:nth-child(1) {
    width: torem(76);
    height: torem(61);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-16);
    background-position-y: torem(-432);
    position: absolute;
    bottom: 0;
    color: #FF8B07;
    left: torem(9);
}
.xzctpop ul:nth-child(4) li:nth-child(1) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(4) li:nth-child(2) {
    width: torem(73);
    height: torem(66);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-115);
    background-position-y: torem(-515);
    position: absolute;
    bottom: 0;
    left: torem(109);
}
._42 {
    background-position-x: torem(-115) !important;
    background-position-y: torem(-427) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(4) li:nth-child(2) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(4) li:nth-child(3) {
    width: torem(69);
    height: torem(70);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-209);
    background-position-y: torem(-511);
    position: absolute;
    bottom: 0;
    left: torem(203);
}
._43 {
    background-position-x: torem(-209) !important;
    background-position-y: torem(-423) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(4) li:nth-child(3) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(4) li:nth-child(4) {
    width: torem(69);
    height: torem(70);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-304);
    background-position-y: torem(-511);
    position: absolute;
    bottom: 0;
    left: torem(298);
}
._44 {
    background-position-x: torem(-304) !important;
    background-position-y: torem(-423) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(4) li:nth-child(4) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(4) li:nth-child(5) {
    width: torem(83);
    height: torem(77);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-394);
    background-position-y: torem(-504);
    position: absolute;
    bottom: 0;
    left: torem(386);
}
._45 {
    background-position-x: torem(-394) !important;
    background-position-y: torem(-416) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(4) li:nth-child(5) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

/*aeroboat*/
.xzctpop ul:nth-child(5) li:nth-child(1) {
    width: torem(52);
    height: torem(57);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-12);
    background-position-y: torem(-608);
    position: absolute;
    bottom: 0;
    color: #FF8B07;
    left: torem(17);
}
.xzctpop ul:nth-child(5) li:nth-child(1) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(5) li:nth-child(2) {
    width: torem(57);
    height: torem(65);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-98);
    background-position-y: torem(-692);
    position: absolute;
    bottom: 0;
    left: torem(112);
}
._52 {
    background-position-x: torem(-98) !important;
    background-position-y: torem(-601) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(5) li:nth-child(2) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(5) li:nth-child(3) {
    width: torem(65);
    height: torem(69);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-184);
    background-position-y: torem(-688);
    position: absolute;
    bottom: 0;
    left: torem(201);
}
._53 {
    background-position-x: torem(-184) !important;
    background-position-y: torem(-597) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(5) li:nth-child(3) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(5) li:nth-child(4) {
    width: torem(74);
    height: torem(69);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-284);
    background-position-y: torem(-688);
    position: absolute;
    bottom: 0;
    left: torem(295);
}
._54 {
    background-position-x: torem(-284) !important;
    background-position-y: torem(-597) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(5) li:nth-child(4) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}

.xzctpop ul:nth-child(5) li:nth-child(5) {
    width: torem(77);
    height: torem(76);
    background: url("../sprite_material.png");
    -webkit-background-size: 11.925rem 19.2rem;
    background-size: 11.925rem 19.2rem;
    background-position-x: torem(-387);
    background-position-y: torem(-681);
    position: absolute;
    bottom: 0;
    left: torem(395);
}
._55 {
    background-position-x: torem(-387) !important;
    background-position-y: torem(-590) !important;
    color: #FF8B07;
}
.xzctpop ul:nth-child(5) li:nth-child(5) span {
    width: 2rem;
    height: 0.85rem;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: -1rem;
    text-align: center;
    line-height: 0.85rem;
}