/*common B!*/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: "MicroSoft YaHei","sans-serif";
  width: 100%;
  height: 100%;
  position: relative; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

input, textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none; }

.clearfix::after,
.clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

/*common E*/
#pop {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.5); }

.xzctpop {
  width: 15.05rem;
  height: 21.225rem;
  background: url("../modal_build.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10.6125rem;
  margin-left: -7.525rem;
  font-size: 0.425rem;
  color: #099BAA; }

.xzctpop .close {
  width: 1.2rem;
  height: 1.2rem;
  background: url("../btn_no.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: -0.2rem;
  top: 0.9rem; }

/*control*/
.xzctpop ul:nth-child(1) {
  width: 11.75rem;
  height: 2.125rem;
  position: absolute;
  left: 2.125rem;
  top: 2.975rem; }

.xzctpop ul:nth-child(2) {
  width: 11.75rem;
  height: 2.125rem;
  position: absolute;
  left: 2.125rem;
  top: 6.525rem; }

.xzctpop ul:nth-child(3) {
  width: 11.75rem;
  height: 2.125rem;
  position: absolute;
  left: 2.125rem;
  top: 10.05rem; }

.xzctpop ul:nth-child(4) {
  width: 11.75rem;
  height: 2.125rem;
  position: absolute;
  left: 2.125rem;
  top: 13.6rem; }

.xzctpop ul:nth-child(5) {
  width: 11.75rem;
  height: 2.125rem;
  position: absolute;
  left: 2.125rem;
  top: 17.125rem; }

.geted {
  background: url("../btn_yes.png") no-repeat;
  -webkit-background-size: 0.825rem 0.65rem;
  background-size: 0.825rem 0.65rem;
  background-position: center; }

.xzctpop ul:nth-child(1) li:nth-child(1) {
  float: left;
  width: 1rem;
  height: 0.9rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -0.125rem;
  background-position-y: -2.15rem;
  position: absolute;
  top: calc(50% - 0.45rem); }

._11 {
  background-position-x: -0.125rem !important;
  background-position-y: -0.575rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(1) li:nth-child(1) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1.5rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(1) li:nth-child(2) {
  float: left;
  width: 1.8rem;
  height: 0.875rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -1.65rem;
  background-position-y: -2.175rem;
  position: absolute;
  top: 50%;
  margin-top: -0.4375rem;
  left: 1.45rem; }

._12 {
  background-position-x: -1.65rem !important;
  background-position-y: -0.575rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(1) li:nth-child(2) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1.5rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(1) li:nth-child(3) {
  float: left;
  width: 1.8rem;
  height: 1.2rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -3.975rem;
  background-position-y: -1.85rem;
  position: absolute;
  top: 50%;
  margin-top: -0.6rem;
  left: 3.85rem; }

._13 {
  background-position-x: -3.975rem !important;
  background-position-y: -0.275rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(1) li:nth-child(3) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1.35638rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(1) li:nth-child(4) {
  float: left;
  width: 2.175rem;
  height: 1.225rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -6.3rem;
  background-position-y: -1.825rem;
  position: absolute;
  top: 50%;
  margin-top: -0.6225rem;
  left: 6.29rem; }

._14 {
  background-position-x: -6.3rem !important;
  background-position-y: -0.25rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(1) li:nth-child(4) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1.37rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(1) li:nth-child(5) {
  float: left;
  width: 2.4rem;
  height: 1.35rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -9rem;
  background-position-y: -1.7rem;
  position: absolute;
  top: 50%;
  margin-top: -0.675rem;
  left: 9rem; }

._15 {
  background-position-x: -9rem !important;
  background-position-y: -0.125rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(1) li:nth-child(5) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1.33rem;
  text-align: center;
  line-height: 0.85rem; }

/*statue*/
.xzctpop ul:nth-child(2) li:nth-child(1) {
  width: 0.675rem;
  height: 1.775rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -0.275rem;
  background-position-y: -3.6rem;
  position: absolute;
  bottom: 0;
  color: #FF8B07;
  left: 0.75rem; }

._21 {
  /*background-position-x: -0.125rem !important;
  background-position-y: -0.575rem !important;
  color: #FF8B07;*/ }

.xzctpop ul:nth-child(2) li:nth-child(1) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(2) li:nth-child(2) {
  width: 0.675rem;
  height: 1.75rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -7.375rem;
  background-position-y: -3.625rem;
  position: absolute;
  bottom: 0;
  left: 3.175rem; }

._22 {
  background-position-x: -1.325rem !important;
  background-position-y: -3.625rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(2) li:nth-child(2) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(2) li:nth-child(3) {
  width: 0.75rem;
  height: 1.975rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -8.4rem;
  background-position-y: -3.4rem;
  position: absolute;
  bottom: 0;
  left: 5.525rem; }

._23 {
  background-position-x: -2.325rem !important;
  background-position-y: -3.4rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(2) li:nth-child(3) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(2) li:nth-child(4) {
  width: 0.725rem;
  height: 1.975rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -9.575rem;
  background-position-y: -3.4rem;
  position: absolute;
  bottom: 0;
  left: 8.225rem; }

._24 {
  background-position-x: -3.425rem !important;
  background-position-y: -3.4rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(2) li:nth-child(4) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(2) li:nth-child(5) {
  width: 1.15rem;
  height: 1.975rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -10.575rem;
  background-position-y: -3.4rem;
  position: absolute;
  bottom: 0;
  left: 10.325rem; }

._25 {
  background-position-x: -4.45rem !important;
  background-position-y: -3.4rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(2) li:nth-child(5) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

/*tower*/
.xzctpop ul:nth-child(3) li:nth-child(1) {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -0.125rem;
  background-position-y: -6.025rem;
  position: absolute;
  bottom: 0;
  color: #FF8B07;
  left: 0.125rem; }

.xzctpop ul:nth-child(3) li:nth-child(1) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(3) li:nth-child(2) {
  width: 1.5rem;
  height: 1.75rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -2.325rem;
  background-position-y: -8.35rem;
  position: absolute;
  bottom: 0;
  left: 2.35rem; }

._32 {
  background-position-x: -2.325rem !important;
  background-position-y: -6.025rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(3) li:nth-child(2) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(3) li:nth-child(3) {
  width: 1.5rem;
  height: 1.95rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -4.65rem;
  background-position-y: -8.15rem;
  position: absolute;
  bottom: 0;
  left: 4.625rem; }

._33 {
  background-position-x: -4.65rem !important;
  background-position-y: -5.85rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(3) li:nth-child(3) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(3) li:nth-child(4) {
  width: 1.625rem;
  height: 2.1rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -7.1rem;
  background-position-y: -8rem;
  position: absolute;
  bottom: 0;
  left: 7.075rem; }

._34 {
  background-position-x: -7.1rem !important;
  background-position-y: -5.675rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(3) li:nth-child(4) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(3) li:nth-child(5) {
  width: 1.8rem;
  height: 2.1rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -9.675rem;
  background-position-y: -8rem;
  position: absolute;
  bottom: 0;
  left: 9.8rem; }

._35 {
  background-position-x: -9.675rem !important;
  background-position-y: -5.675rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(3) li:nth-child(5) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

/*angle*/
.xzctpop ul:nth-child(4) li:nth-child(1) {
  width: 1.9rem;
  height: 1.525rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -0.4rem;
  background-position-y: -10.8rem;
  position: absolute;
  bottom: 0;
  color: #FF8B07;
  left: 0.225rem; }

.xzctpop ul:nth-child(4) li:nth-child(1) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(4) li:nth-child(2) {
  width: 1.825rem;
  height: 1.65rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -2.875rem;
  background-position-y: -12.875rem;
  position: absolute;
  bottom: 0;
  left: 2.725rem; }

._42 {
  background-position-x: -2.875rem !important;
  background-position-y: -10.675rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(4) li:nth-child(2) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(4) li:nth-child(3) {
  width: 1.725rem;
  height: 1.75rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -5.225rem;
  background-position-y: -12.775rem;
  position: absolute;
  bottom: 0;
  left: 5.075rem; }

._43 {
  background-position-x: -5.225rem !important;
  background-position-y: -10.575rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(4) li:nth-child(3) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(4) li:nth-child(4) {
  width: 1.725rem;
  height: 1.75rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -7.6rem;
  background-position-y: -12.775rem;
  position: absolute;
  bottom: 0;
  left: 7.45rem; }

._44 {
  background-position-x: -7.6rem !important;
  background-position-y: -10.575rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(4) li:nth-child(4) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(4) li:nth-child(5) {
  width: 2.075rem;
  height: 1.925rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -9.85rem;
  background-position-y: -12.6rem;
  position: absolute;
  bottom: 0;
  left: 9.65rem; }

._45 {
  background-position-x: -9.85rem !important;
  background-position-y: -10.4rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(4) li:nth-child(5) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

/*aeroboat*/
.xzctpop ul:nth-child(5) li:nth-child(1) {
  width: 1.3rem;
  height: 1.425rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -0.3rem;
  background-position-y: -15.2rem;
  position: absolute;
  bottom: 0;
  color: #FF8B07;
  left: 0.425rem; }

.xzctpop ul:nth-child(5) li:nth-child(1) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(5) li:nth-child(2) {
  width: 1.425rem;
  height: 1.625rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -2.45rem;
  background-position-y: -17.3rem;
  position: absolute;
  bottom: 0;
  left: 2.8rem; }

._52 {
  background-position-x: -2.45rem !important;
  background-position-y: -15.025rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(5) li:nth-child(2) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(5) li:nth-child(3) {
  width: 1.625rem;
  height: 1.725rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -4.6rem;
  background-position-y: -17.2rem;
  position: absolute;
  bottom: 0;
  left: 5.025rem; }

._53 {
  background-position-x: -4.6rem !important;
  background-position-y: -14.925rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(5) li:nth-child(3) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(5) li:nth-child(4) {
  width: 1.85rem;
  height: 1.725rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -7.1rem;
  background-position-y: -17.2rem;
  position: absolute;
  bottom: 0;
  left: 7.375rem; }

._54 {
  background-position-x: -7.1rem !important;
  background-position-y: -14.925rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(5) li:nth-child(4) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

.xzctpop ul:nth-child(5) li:nth-child(5) {
  width: 1.925rem;
  height: 1.9rem;
  background: url("../sprite_material.png");
  -webkit-background-size: 11.925rem 19.2rem;
  background-size: 11.925rem 19.2rem;
  background-position-x: -9.675rem;
  background-position-y: -17.025rem;
  position: absolute;
  bottom: 0;
  left: 9.875rem; }

._55 {
  background-position-x: -9.675rem !important;
  background-position-y: -14.75rem !important;
  color: #FF8B07; }

.xzctpop ul:nth-child(5) li:nth-child(5) span {
  width: 2rem;
  height: 0.85rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: -1rem;
  text-align: center;
  line-height: 0.85rem; }

/*# sourceMappingURL=island.css.map */
