@charset "UTF-8";
/*common B!*/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  background: #0C1C2B;
  font-family: "MicroSoft YaHei","sans-serif";
  width: 100%;
  height: 100%;
  position: relative; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  color: #333; }

input, textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix::after,
.clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

/*common E*/
#file_photo_father, #file_photo_son {
  opacity: 0;
  position: fixed;
  width: 0.025rem;
  height: 0.025rem;
  top: 0;
  left: 0; }

.mask-tips {
  width: 100%;
  height: 100%;
  background: url("../images/tips.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none; }
  .mask-tips .mask-tips-btn {
    width: 4.35rem;
    height: 1.85rem;
    position: absolute;
    top: 74.15842%;
    left: 50%;
    margin-left: -2.175rem;
    opacity: 0; }

/*up-photo*/
.backgroud {
  width: 100%;
  height: 100%;
  background: #0C1C2B url("../images/02bg.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .backgroud .title {
    width: 14.35rem;
    height: 1.975rem;
    background: url("../images/13.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 7.0297%;
    left: 50%;
    margin-left: -7.175rem; }
  .backgroud .think_electricity {
    width: 6.55rem;
    height: 2.15rem;
    background: url("../images/2.png") no-repeat;
    background-position: 0 0;
    background-size: 39.3rem 2.05rem;
    overflow: hidden;
    position: absolute;
    top: 19.10891%;
    left: 50%;
    margin-left: -3.275rem;
    display: none; }
    .backgroud .think_electricity .pointL {
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 0.2rem;
      -webkit-border-radius: 0.2rem;
      position: absolute;
      top: 50%;
      margin-top: 0.055rem;
      left: 0.1rem;
      background: #AAFDE3;
      border: solid 0.0025rem skyblue;
      display: none; }
    .backgroud .think_electricity .pointR {
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 0.2rem;
      -webkit-border-radius: 0.2rem;
      position: absolute;
      top: 50%;
      margin-top: 0.08rem;
      right: 0.15rem;
      background: #AAFDE3;
      border: solid 0.0025rem skyblue;
      display: none; }
  .backgroud .up-photo {
    width: 100%;
    height: 8.6rem;
    position: absolute;
    top: 29.20792%; }
    .backgroud .up-photo .up-photo-left {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .backgroud .up-photo .up-photo-left .photo {
        width: 7.025rem;
        height: 6.8rem;
        background: url("../images/04upphoto.png") no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 50%;
        margin-left: -3.5125rem; }
        .backgroud .up-photo .up-photo-left .photo .frame {
          width: 6.05rem;
          height: 6.05rem;
          position: absolute;
          top: 0.45rem;
          left: 0.4625rem;
          overflow: hidden;
          text-align: center;
          line-height: 6.075rem; }
        .backgroud .up-photo .up-photo-left .photo .adjustingImg {
          width: 6.175rem;
          height: 6.175rem;
          border-radius: 0.125rem;
          -webkit-border-radius: 0.125rem;
          border-width: 0;
          position: absolute;
          top: -0.05rem;
          left: -0.05rem; }
        .backgroud .up-photo .up-photo-left .photo .scan {
          width: 6.125rem;
          height: 1.15rem;
          position: absolute;
          top: 0rem;
          left: 0rem;
          border-bottom-style: solid;
          border-bottom-color: #00deff;
          border-bottom-width: 0;
          border-top-style: solid;
          border-top-color: #00deff;
          border-top-width: 0;
          background: rgba(0, 222, 255, 0);
          background: -moz-linear-gradient(bottom, rgba(0, 222, 255, 0.6), rgba(244, 250, 250, 0));
          background: -webkit-gradient(linear, 0 bottom, 0 0, from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));
          transform: translateY(-1.15rem);
          -webkit-transform: translateY(-1.15rem); }
        .backgroud .up-photo .up-photo-left .photo .mask {
          width: 1.825rem;
          height: 1.8rem;
          background: url("../images/11.png") no-repeat;
          background-size: 100% 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -0.9125rem;
          margin-top: -0.9rem; }
      .backgroud .up-photo .up-photo-left .btn {
        width: 5.3rem;
        height: 1.3rem;
        background: url("../images/btn2.png") no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -2.65rem; }
    .backgroud .up-photo .up-photo-right {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0; }
      .backgroud .up-photo .up-photo-right .photo {
        width: 7.025rem;
        height: 6.8rem;
        background: url("../images/04upphoto.png") no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 50%;
        margin-left: -3.5125rem; }
        .backgroud .up-photo .up-photo-right .photo .frame {
          width: 6.05rem;
          height: 6.05rem;
          position: absolute;
          top: 0.45rem;
          left: 0.475rem;
          overflow: hidden;
          text-align: center;
          line-height: 6.05rem; }
        .backgroud .up-photo .up-photo-right .photo .adjustingImg {
          width: 6.175rem;
          height: 6.175rem;
          border-width: 0;
          position: absolute;
          top: -0.05rem;
          left: -0.05rem; }
        .backgroud .up-photo .up-photo-right .photo .scan {
          width: 6.1rem;
          height: 1.15rem;
          position: absolute;
          top: 0rem;
          left: 0rem;
          border-bottom-style: solid;
          border-bottom-color: #00deff;
          border-bottom-width: 0;
          border-top-style: solid;
          border-top-color: #00deff;
          border-top-width: 0;
          background: rgba(0, 222, 255, 0);
          background: -moz-linear-gradient(bottom, rgba(0, 222, 255, 0.6), rgba(244, 250, 250, 0));
          background: -webkit-gradient(linear, 0 bottom, 0 0, from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));
          transform: translateY(-1.15rem);
          -webkit-transform: translateY(-1.15rem); }
        .backgroud .up-photo .up-photo-right .photo .mask {
          width: 1.825rem;
          height: 1.8rem;
          background: url("../images/11.png") no-repeat;
          background-size: 100% 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -0.9125rem;
          margin-top: -0.9rem; }
      .backgroud .up-photo .up-photo-right .btn {
        width: 5.3rem;
        height: 1.3rem;
        background: url("../images/btn3.png") no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -2.65rem; }
  .backgroud .think {
    width: 5.725rem;
    height: 2.2rem;
    background: #0C1C2B url("../images/btn1.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 69.70297%;
    left: 50%;
    margin-left: -2.8625rem; }

/*result*/
.result {
  display: none;
  width: 100%;
  height: 100%;
  background: #0C1C2B url("../images/03bg.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 99; }
  .result .frame {
    width: 13.525rem;
    height: 16.425rem;
    background: url("../images/07baogao.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 7.0297%;
    left: 50%;
    margin-left: -6.7625rem; }
    .result .frame .frame-top {
      width: 9.9rem;
      height: 2.9rem;
      position: absolute;
      top: 2.8rem;
      left: 1.85rem; }
      .result .frame .frame-top .father-photo {
        width: 2.875rem;
        height: 2.9rem;
        border: solid 0.075rem #00DAF6;
        border-radius: 0.375rem;
        -webkit-border-radius: 0.375rem;
        overflow: hidden;
        position: relative; }
        .result .frame .frame-top .father-photo img {
          width: 100%;
          height: 100%; }
      .result .frame .frame-top .son-photo {
        width: 2.875rem;
        height: 2.9rem;
        border: solid 0.075rem #00DAF6;
        border-radius: 0.375rem;
        -webkit-border-radius: 0.375rem;
        overflow: hidden;
        position: relative; }
        .result .frame .frame-top .son-photo img {
          width: 100%;
          height: 100%; }
      .result .frame .frame-top .electricity-effect {
        width: 5.25rem;
        height: 2rem;
        position: absolute;
        top: 0.5rem;
        left: 50%;
        margin-left: -2.625rem;
        background: url("../images/12.png") no-repeat;
        background-size: 100% 100%;
        transform: scale(1, 1); }
    .result .frame .frame-middle-text {
      width: 9.5rem;
      height: 3.375rem;
      text-align: center;
      color: #49FCFF;
      position: absolute;
      top: 5.925rem;
      letter-spacing: 0.05rem;
      left: 50%;
      margin-left: -4.75rem; }
      .result .frame .frame-middle-text .disc {
        font-size: 0.625rem;
        letter-spacing: 0.1rem; }
      .result .frame .frame-middle-text .perp {
        font-size: 1.275rem; }
      .result .frame .frame-middle-text .info {
        font-size: 0.45rem;
        font-weight: 300;
        letter-spacing: 0.05rem;
        transform: scale(0.95, 0.95);
        -webkit-transform: scale(0.95, 0.95); }
    .result .frame .frame-bottom-imgText {
      width: 10.5rem;
      height: 5.6rem;
      text-align: center;
      color: #49FCFF;
      position: absolute;
      top: 10.225rem;
      left: 50%;
      margin-left: -5.25rem; }
      .result .frame .frame-bottom-imgText .bq {
        height: 3.7rem;
        width: 3.375rem; }
      .result .frame .frame-bottom-imgText .evaluatep {
        font-size: 0.625rem;
        letter-spacing: 0.025rem; }
  .result .btn-group {
    width: 100%;
    height: 1.325rem;
    position: absolute;
    top: 19rem; }
    .result .btn-group .btn-redo {
      width: 3.725rem;
      height: 1.325rem;
      background: url("../images/btn4.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      left: 1.45rem; }
    .result .btn-group .todo {
      width: 3.725rem;
      height: 1.325rem;
      background: url("../images/btn5-1.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      left: 50%;
      margin-left: -1.8625rem; }
    .result .btn-group .share {
      width: 3.725rem;
      height: 1.325rem;
      background: url("../images/btn6.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      right: 1.45rem; }

/*go-shares*/
.go-shares {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99; }
  .go-shares .arrow {
    width: 2.7rem;
    height: 5.1rem;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    background: url("../images/10.png") no-repeat;
    background-size: 100% 100%; }
  .go-shares .frame {
    width: 13.525rem;
    height: 17.3rem;
    position: absolute;
    top: 6.225rem;
    left: 50%;
    margin-left: -6.7625rem;
    background: url("../images/07share.png") no-repeat;
    background-size: 100% 100%; }
    .go-shares .frame .txt {
      width: 100%;
      height: 0.6rem;
      font-size: 0.6rem;
      line-height: 0.6rem;
      text-align: center;
      color: #41EEF2;
      position: absolute;
      top: -0.6rem;
      font-weight: 300;
      transform: scale(0.9, 0.9);
      -webkit-transform: scale(0.9, 0.9);
      letter-spacing: 0.025rem; }
    .go-shares .frame .theme {
      width: 10.4rem;
      height: 0.675rem;
      position: absolute;
      top: 1.2rem;
      left: 50%;
      margin-left: -5.2rem;
      background: url("../images/08.png") no-repeat;
      background-size: 100% 100%; }
    .go-shares .frame .content_poster {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .go-shares .frame .content_poster .scanResult {
        width: 100%;
        height: 1.65rem;
        position: absolute;
        top: 2.5rem;
        text-align: center; }
        .go-shares .frame .content_poster .scanResult img {
          width: 1.65rem;
          height: 1.65rem;
          border: solid 0.075rem #4DFBFF;
          border-radius: 0.825rem;
          -webkit-border-radius: 0.825rem; }
        .go-shares .frame .content_poster .scanResult .desc {
          display: inline-block;
          width: 9.1rem;
          height: 1.65rem;
          font-size: 0.6rem;
          color: #4DFBFF;
          text-align: left;
          line-height: 0.825rem;
          vertical-align: top;
          letter-spacing: 0.075rem; }
          .go-shares .frame .content_poster .scanResult .desc .username {
            display: inline-block;
            width: 55px;
            height: 0.825rem;
            overflow: hidden;
            vertical-align: top;
            text-overflow: ellipsis; }
          .go-shares .frame .content_poster .scanResult .desc .percent {
            font-size: 0.9rem;
            font-weight: 300; }
      .go-shares .frame .content_poster .joke {
        width: 100%;
        height: 1.65rem;
        position: absolute;
        top: 5.4rem;
        text-align: center; }
        .go-shares .frame .content_poster .joke p {
          display: inline-block;
          width: 10.65rem;
          height: 1.65rem;
          line-height: 0.825rem;
          font-size: 0.625rem;
          color: #4DFBFF;
          text-align: left;
          vertical-align: top; }
      .go-shares .frame .content_poster .imgShow-content {
        width: 100%;
        height: 2.9rem;
        position: absolute;
        top: 8.5rem; }
        .go-shares .frame .content_poster .imgShow-content .imgShow {
          width: 10.5rem;
          height: 2.75rem;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -5.325rem; }
          .go-shares .frame .content_poster .imgShow-content .imgShow .father-photo {
            width: 2.75rem;
            height: 2.75rem;
            border: solid 0.15rem #00DAF6;
            border-radius: 0.375rem;
            -webkit-border-radius: 0.375rem;
            overflow: hidden;
            position: relative; }
            .go-shares .frame .content_poster .imgShow-content .imgShow .father-photo img {
              width: 100%;
              height: 100%; }
          .go-shares .frame .content_poster .imgShow-content .imgShow .son-photo {
            width: 2.75rem;
            height: 2.75rem;
            border: solid 0.15rem #00DAF6;
            border-radius: 0.375rem;
            -webkit-border-radius: 0.375rem;
            overflow: hidden;
            position: relative; }
            .go-shares .frame .content_poster .imgShow-content .imgShow .son-photo img {
              width: 100%;
              height: 100%; }
          .go-shares .frame .content_poster .imgShow-content .imgShow .electricity-effect {
            width: 6.5rem;
            height: 1.75rem;
            position: absolute;
            top: 0.5rem;
            left: 50%;
            margin-left: -3.25rem;
            background: url("../images/12.png") no-repeat;
            background-size: 100% 100%;
            transform: scale(1, 1); }
      .go-shares .frame .content_poster .ma {
        width: 100%;
        height: 3.075rem;
        position: absolute;
        top: 11.55rem;
        text-align: center; }

/*scan楂樺害澧炲姞*/
/*scan绉诲姩*/
.animation_scan_translate {
  -webkit-animation: translate 4s linear infinite;
  animation: translate 4s linear infinite; }

@-webkit-keyframes translate {
  0% {
    transform: translateY(0rem);
    border-bottom-width: 0.125rem;
    border-top-width: 0rem;
    background: -webkit-gradient(linear, 0 bottom, 0 0, from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0))); }
  49% {
    transform: translateY(6.075rem);
    border-bottom-width: 0rem;
    border-top-width: 0rem;
    background: -webkit-gradient(linear, 0 bottom, 0 0, from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0))); }
  50% {
    transform: translateY(6.075rem);
    border-bottom-width: 0rem;
    border-top-width: 0rem;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0))); }
  99% {
    transform: translateY(0rem);
    border-bottom-width: 0rem;
    border-top-width: 0.125rem;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0))); }
  100% {
    transform: translateY(0rem);
    border-bottom-width: 0rem;
    border-top-width: 0.125rem;
    background: -webkit-gradient(linear, 0 bottom, 0 0, from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0))); } }
@keyframes translate {
  0% {
    transform: translateY(-1.15rem);
    border-bottom-width: 0.125rem;
    border-top-width: 0rem;
    background: -webkit-gradient(linear, 0 bottom, 0 0, from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0))); }
  49% {
    transform: translateY(6.075rem);
    border-bottom-width: 0rem;
    border-top-width: 0rem;
    background: -webkit-gradient(linear, 0 bottom, 0 0, from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0))); }
  50% {
    transform: translateY(6.075rem);
    border-bottom-width: 0rem;
    border-top-width: 0rem;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0))); }
  99% {
    transform: translateY(-1.15rem);
    border-bottom-width: 0rem;
    border-top-width: 0.125rem;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0))); }
  100% {
    transform: translateY(-1.15rem);
    border-bottom-width: 0rem;
    border-top-width: 0.125rem;
    background: -webkit-gradient(linear, 0 bottom, 0 0, from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0))); } }
/*electricity-effect*/
.animation_electricity-scale {
  -webkit-animation: electricityScale 0.5s linear infinite;
  animation: electricityScale 0.5s linear infinite; }

@-webkit-keyframes electricityScale {
  0% {
    transform: scale(0rem, 0rem); }
  100% {
    transform: scale(4.125rem, 2.9rem); } }
@keyframes electricityScale {
  0% {
    transform: scale(1, 0); }
  10% {
    transform: scale(0.8, 0.2); }
  20% {
    transform: scale(0.7, 0.4); }
  30% {
    transform: scale(0.6, 0.2); }
  40% {
    transform: scale(0.5, 0.4); }
  50% {
    transform: scale(0.6, 0.6); }
  60% {
    transform: scale(0.7, 0.4); }
  70% {
    transform: scale(0.8, 0.6); }
  80% {
    transform: scale(0.9, 0.7); }
  90% {
    transform: scale(0.8, 0.6); }
  100% {
    transform: scale(1, 1); } }

/*# sourceMappingURL=imgmatch.css.map */
