@function torem($px){
  @return $px / 40 * 1rem;
}
@function toper($px){
  @return $px /1010 * 100%;
}
/*common B!*/
*,
::before,
::after{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
    background: #0C1C2B;
    font-family: "MicroSoft YaHei","sans-serif";
    width: 100%;
    height: 100%;
    position: relative;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #333;
}
input,textarea{
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::after,
.clearfix::before{
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
/*common E*/
#file_photo_father,#file_photo_son {
    opacity: 0;
    position: fixed;
    width: torem(1);
    height: torem(1);
    top: 0;
    left: 0;
}
.mask-tips {
    width: 100%;
    height: 100%;
    background: url("../images/tips.jpg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    .mask-tips-btn {
        width: torem(174);
        height: torem(74);
        position: absolute;
        top: toper(749);
        left: 50%;
        margin-left: torem(-87);
        opacity: 0;
    }
}
/*up-photo*/
.backgroud {
    width: 100%;
    height: 100%;
    background: #0C1C2B url("../images/02bg.jpg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    .title {
        width: torem(574);
        height: torem(79);
        background: url("../images/13.png") no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: toper(71);
        left: 50%;
        margin-left: torem(-287);
    }
    .think_electricity {
        width: torem(262);
        height: torem(86);
        background: url("../images/2.png") no-repeat;
        background-position: 0 0; 
        background-size:  torem(1572) torem(82);
        overflow: hidden;
        position: absolute;
        top: toper(193);
        left: 50%;
        margin-left: torem(-131);
        display: none;
        .pointL {
            width: torem(16);
            height: torem(16);
            border-radius: torem(8);
            -webkit-border-radius: torem(8);
            position: absolute;
            top: 50%;
            margin-top: 0.055rem;
            left: 0.1rem;
            background: #AAFDE3;
            border: solid torem(0.1) skyblue;
            display: none;
        }
        .pointR {
            width: torem(16);
            height: torem(16);
            border-radius: torem(8);
            -webkit-border-radius: torem(8);
            position: absolute;
            top: 50%;
            margin-top: 0.08rem;
            right: 0.15rem;
            background: #AAFDE3;
            border: solid torem(0.1) skyblue;
            display: none;
        }
    }
    .up-photo {
        width: 100%;
        height: torem(344);
        position: absolute;
        top: toper(295);
        .up-photo-left {
            width:50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            .photo {
                width: torem(281);
                height: torem(272);
                background: url("../images/04upphoto.png") no-repeat;
                background-size: 100% 100%;
                position: absolute;
                left: 50%;
                margin-left: torem(-140.5);
                .frame {
                    width: torem(242);
                    height: torem(242);
                    position: absolute;
                    top: torem(18);
                    left: torem(18.5);
                    overflow: hidden;
                    text-align: center;
                    line-height: torem(243);
                    // border-radius: torem(1);
                    // -webkit-border-radius: torem(1);
                }
                .adjustingImg {
                    width: torem(247);
                    height: torem(247);
                    border-radius: torem(5);
                    -webkit-border-radius: torem(5);
                    border-width:0;
                    position: absolute;
                    top: torem(-2);
                    left: torem(-2);
                }
                .scan {
                    width: torem(245);
                    height: torem(46);
                    position: absolute;
                    top: torem(0);
                    left: torem(0);
                    border-bottom-style: solid ;
                    border-bottom-color: rgba(0, 222, 255, 1);
                    border-bottom-width: 0;
                    border-top-style: solid ;
                    border-top-color: rgba(0, 222, 255, 1);
                    border-top-width: 0;
                    background:rgba(0, 222, 255, 0); 
                    background:-moz-linear-gradient(bottom, rgba(0, 222, 255, 0.6), rgba(244, 250, 250, 0));  
                    background:-webkit-gradient(linear, 0 bottom, 0 0,  from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));
                    transform:translateY(torem(-46));
                    -webkit-transform:translateY(torem(-46));
                }
                .mask {
                    width: torem(73);
                    height: torem(72);
                    background: url("../images/11.png") no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: torem(-36.5);
                    margin-top: torem(-36);
                }
            } 
            .btn {
                width: torem(212);
                height: torem(52);
                background: url("../images/btn2.png") no-repeat;
                background-size: 100% 100%;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: torem(-106);
            }
        }
        .up-photo-right {
            width:50%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            .photo {
                width: torem(281);
                height: torem(272);
                background: url("../images/04upphoto.png") no-repeat;
                background-size: 100% 100%;
                position: absolute;
                left: 50%;
                margin-left: torem(-140.5);
                .frame {
                    width: torem(242);
                    height: torem(242);
                    position: absolute;
                    top: torem(18);
                    left: torem(19);
                    overflow: hidden;
                    text-align: center;
                    line-height: torem(242);
                    //  border-radius: torem(5);
                    // -webkit-border-radius: torem(5);
                }
                .adjustingImg {
                    width: torem(247);
                    height: torem(247); 
                    border-width:0;
                    position: absolute;
                    top: torem(-2);
                    left: torem(-2);
                }
                .scan {
                    width: torem(244);
                    height: torem(46);
                    position: absolute;
                    top: torem(0);
                    left: torem(0);
                    border-bottom-style: solid ;
                    border-bottom-color: rgba(0, 222, 255, 1);
                    border-bottom-width: 0;
                    border-top-style: solid ;
                    border-top-color: rgba(0, 222, 255, 1);
                    border-top-width: 0;
                    background:rgba(0, 222, 255, 0); 
                    background:-moz-linear-gradient(bottom, rgba(0, 222, 255, 0.6), rgba(244, 250, 250, 0));  
                    background:-webkit-gradient(linear, 0 bottom, 0 0,  from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));
                    transform:translateY(torem(-46));
                    -webkit-transform:translateY(torem(-46));
                }
                .mask {
                    width: torem(73);
                    height: torem(72);
                    background: url("../images/11.png") no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: torem(-36.5);
                    margin-top: torem(-36);
                }
            } 
            .btn {
                width: torem(212);
                height: torem(52);
                background: url("../images/btn3.png") no-repeat;
                background-size: 100% 100%;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: torem(-106);
            }
        }
    }
    .think {
        width: torem(229);
        height: torem(88);
        background: #0C1C2B url("../images/btn1.png") no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: toper(704);   
        left:50%;
        margin-left: torem(-114.5);
    }
}
/*result*/
.result {
    display: none;
    width: 100%;
    height: 100%;
    background: #0C1C2B url("../images/03bg.jpg") no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
    .frame {
        width: torem(541);
        height: torem(657);
        background: url("../images/07baogao.png") no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: toper(71);
        left: 50%;
        margin-left: torem(-270.5);
        .frame-top {
            width: torem(396);
            height: torem(116);
            position: absolute;
            top: torem(112);
            left: torem(74);
            .father-photo {
                width: torem(115);
                height: torem(116);
                border: solid torem(3) #00DAF6;
                border-radius: torem(15);
                -webkit-border-radius: torem(15);
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .son-photo {
                width: torem(115);
                height: torem(116);
                border: solid torem(3) #00DAF6;
                border-radius: torem(15);
                -webkit-border-radius: torem(15);
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .electricity-effect {
                width: torem(210);
                height: torem(80);
                position: absolute;
                top: torem(20);
                left: 50%;
                margin-left: torem(-105);
                background: url("../images/12.png") no-repeat;
                background-size: 100% 100%;
                transform: scale(1,1);
            }
        }
        .frame-middle-text {
            width: torem(380);
            height: torem(135);
            text-align: center;
            color: #49FCFF;
            position: absolute;
            top: torem(237);
            letter-spacing: torem(2);
            left: 50%;
            margin-left: torem(-190);
            .disc {
                font-size: torem(25);
                letter-spacing: torem(4);
            }
            .perp {
                font-size: torem(51);
            }
            .info {
                font-size: torem(18);
                font-weight: 300;
                letter-spacing: torem(2);
                transform: scale(0.95 ,0.95);
                -webkit-transform: scale(0.95 ,0.95);
            }
        }
        .frame-bottom-imgText {
            width: torem(420);
            height: torem(224);
            text-align: center;
            color: #49FCFF;
            position: absolute;
            top: torem(409);
            left: 50%;
            margin-left: torem(-210);
            .bq {
                height: torem(148);
                width: torem(135);
            }
            .evaluatep {
                font-size: torem(25);
                letter-spacing: torem(1);
            }
        }
    }
    .btn-group {
        width: 100%;
        height: torem(53);
        position: absolute;
        top: torem(760);
        .btn-redo {
            width: torem(149);
            height: torem(53);
            background: url("../images/btn4.png") no-repeat;
            background-size: 100% 100%;
            position: absolute;
            left: torem(58);
        }
        .todo {
            width: torem(149);
            height: torem(53);
            background: url("../images/btn5-1.png") no-repeat;
            background-size: 100% 100%;
            position: absolute;
            left: 50%;
            margin-left: torem(-74.5);
        }
        .share {
            width: torem(149);
            height: torem(53);
            background: url("../images/btn6.png") no-repeat;
            background-size: 100% 100%;
            position: absolute;
            right: torem(58);
        }
    }
}
/*go-shares*/
.go-shares {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    // display: none;
    .arrow {
        width: 2.7rem;
        height: 5.1rem;
        position: absolute;
        top: 1rem;
        right: 0.5rem; 
        background: url("../images/10.png") no-repeat;
        background-size: 100% 100%;
    }
    .frame {
        width: torem(541);
        height: torem(692);
        position: absolute;
        top: torem(249);
        left: 50%;
        margin-left: torem(-270.5);
        background: url("../images/07share.png") no-repeat;
        background-size: 100% 100%;
        .txt {
            width: 100%;
            height: torem(24);
            font-size: torem(24);
            line-height: torem(24);
            text-align: center;
            color: #41EEF2;
            position: absolute;
            top: torem(-24);
            font-weight: 300;
            transform: scale(0.9,0.9);
            -webkit-transform: scale(0.9,0.9);
            letter-spacing: torem(1);
        }
        .theme {
            width: torem(416);
            height: torem(27);
            position: absolute;
            top: torem(48);
            left: 50%;
            margin-left: torem(-208);
            background: url("../images/08.png") no-repeat;
            background-size: 100% 100%;
        }
        .content_poster {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            .scanResult{
                width: 100%;
                height: torem(66);
                position: absolute;
                top: torem(100);
                text-align: center;
                img {
                    width: torem(66);
                    height: torem(66);
                    border: solid torem(3) #4DFBFF;
                    border-radius: torem(33);
                    -webkit-border-radius: torem(33);
                }
                .desc {
                    display: inline-block;
                    width: torem(364);
                    height: torem(66);
                    font-size: torem(24);
                    color: #4DFBFF;
                    text-align: left;
                    line-height: torem(33);
                    vertical-align: top;
                    letter-spacing: torem(3);
                    .username {
                        display: inline-block;
                        width: 55px;
                        height: torem(33);
                        overflow: hidden;
                        vertical-align: top;
                        text-overflow:ellipsis;
                    }
                    .percent {
                        font-size: torem(36);
                        font-weight: 300;
                    }
                }
            }
            .joke {
                width: 100%;
                height: torem(66);
                position: absolute;
                top: torem(216);
                text-align: center;
                p {
                    display: inline-block;
                    width: torem(426);
                    height: torem(66);
                    line-height: torem(33);
                    font-size: torem(25);
                    color: #4DFBFF;
                    text-align: left;
                    vertical-align: top;
                }
            }
            .imgShow-content {
                width: 100%;
                height: torem(116);
                position: absolute;
                top: torem(340);
                .imgShow {
                    width: torem(420);
                    height: torem(110);
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-left: torem(-213);
                    .father-photo {
                        width: torem(110);
                        height: torem(110);
                        border: solid torem(6) #00DAF6;
                        border-radius: torem(15);
                        -webkit-border-radius: torem(15);
                        overflow: hidden;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .son-photo {
                        width: torem(110);
                        height: torem(110);
                        border: solid torem(6) #00DAF6;
                        border-radius: torem(15);
                        -webkit-border-radius: torem(15);
                        overflow: hidden;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .electricity-effect {
                        width: torem(260);
                        height: torem(70);
                        position: absolute;
                        top: torem(20);
                        left: 50%;
                        margin-left: torem(-130);
                        background: url("../images/12.png") no-repeat;
                        background-size: 100% 100%;
                        transform: scale(1,1);
                    }
                }
            }
            .ma {
                width: 100%;
                height: torem(123);
                position: absolute;
                top: torem(462);
                text-align: center; 
            }
        }
    }
}


/*scan高度增加*/
// .animation_scan_height {
//     -webkit-animation:addheight 1s ease ;
// 	animation:addheight 1s ease ;
// }
// @-webkit-keyframes addheight {
//     0%{height:0}
//     100%{height:torem(23)}
// }
// @keyframes addheight {
//     0%{height:0}
//     100%{height:torem(23)}
// }
/*scan移动*/
.animation_scan_translate {
    -webkit-animation:translate 4s linear infinite;
	animation:translate 4s linear infinite;
}
@-webkit-keyframes translate {
    0%{transform:translateY(torem(0));border-bottom-width: torem(5);border-top-width:torem(0); background:-webkit-gradient(linear,  0 bottom,  0 0,from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));}
    49%{transform:translateY(torem(243));border-bottom-width: torem(0);border-top-width:torem(0); background:-webkit-gradient(linear,  0 bottom,  0 0,from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));}
    50%{transform:translateY(torem(243));border-bottom-width: torem(0);border-top-width:torem(0); background:-webkit-gradient(linear,  0 0,  0 bottom,from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));}
    99%{transform:translateY(torem(0));border-bottom-width: torem(0);border-top-width:torem(5); background:-webkit-gradient(linear,  0 0,  0 bottom,from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));}
    100%{transform:translateY(torem(0));border-bottom-width: torem(0);border-top-width:torem(5); background:-webkit-gradient(linear,  0 bottom,  0 0,from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));}
}
@keyframes translate {
    0%{transform:translateY(torem(-46));border-bottom-width: torem(5);border-top-width:torem(0); background:-webkit-gradient(linear,  0 bottom,  0 0,from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));}
    49%{transform:translateY(torem(243));border-bottom-width: torem(0);border-top-width:torem(0); background:-webkit-gradient(linear,  0 bottom,  0 0,from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));}
    50%{transform:translateY(torem(243));border-bottom-width: torem(0);border-top-width:torem(0); background:-webkit-gradient(linear,  0 0,  0 bottom,from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));}
    99%{transform:translateY(torem(-46));border-bottom-width: torem(0);border-top-width:torem(5); background:-webkit-gradient(linear,  0 0,  0 bottom,from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));}
    100%{transform:translateY(torem(-46));border-bottom-width: torem(0);border-top-width:torem(5); background:-webkit-gradient(linear,  0 bottom,  0 0,from(rgba(0, 222, 255, 0.6)), to(rgba(244, 250, 250, 0)));}
}
/*electricity-effect*/
.animation_electricity-scale {
    -webkit-animation:electricityScale 0.5s linear infinite;
	animation:electricityScale 0.5s linear infinite;
}
@-webkit-keyframes electricityScale {
    0%{transform:scale(torem(0),torem(0))}
    100%{transform:scale(torem(165),torem(116))}
}
@keyframes electricityScale {
    0%{transform:scale(1,0)}
    10%{transform:scale(0.8,0.2)}
    20%{transform:scale(0.7,0.4)}
    30%{transform:scale(0.6,0.2)}
    40%{transform:scale(0.5,0.4)}
    50%{transform:scale(0.6,0.6)}
    60%{transform:scale(0.7,0.4)}
    70%{transform:scale(0.8,0.6)}
    80%{transform:scale(0.9,0.7)}
    90%{transform:scale(0.8,0.6)}
    100%{transform:scale(1,1)}
}